@using X.PagedList.Mvc
@model X.PagedList.PagedList<Zen.Web.Models.Fornecedor>

@{
    ViewBag.Title = "Fornecedor";
}


@using (Html.BeginForm("Index", "Fornecedor", FormMethod.Get, new { id = "formFornec" }))
{
    @Html.AntiForgeryToken()
    <div class="result">

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pesquisa de Fornecedores</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="tpfiltro" id="tpfiltro" class="form-control select2-dropdown">
                                        <option value="1" @(ViewBag.TpFiltro == 1 ? "selected" : "")>Nome</option>
                                        <option value="2" @(ViewBag.TpFiltro == 2 ? "selected" : "")>Contato</option>
                                        <option value="3" @(ViewBag.TpFiltro == 3 ? "selected" : "")>Telefone</option>
                                        <option value="4" @(ViewBag.TpFiltro == 4 ? "selected" : "")>Celular</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group input-group-sm">
                                @* @Html.TextBoxFor(p => Model.Filtro, new { @class = "form-control" })*@
                                <input type="text" class="form-control" placeholder="Buscar Fornecedor..." name="filtro" value="@ViewBag.Filtro">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-flat">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-info pull-right" })
                </div>


                <div class="box-body">
                    <table id="tabela" class="table table-bordered table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:70px">Nome</th>
                                <th class="text-center" style="width:10px">Contato</th>
                                <th class="text-center" style="width:30px">Telefone</th>
                                <th class="text-center" style="width:30px">Celular</th>
                                <th class="text-center" style="width:30px">e-mail</th>
                                <th class="text-center" style="width:20px">Observações</th>
                                <th class="text-center" style="width:30px">Serviços</th>
                                <th class="text-center" style="width:70px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Contato)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tel1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Celular1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Obs)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Index","ServFornec",new { idFornec=item.Id})" class="btn btn-info btn-sm" title="Editar">
                                            <span class="glyphicon glyphicon-list-alt"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="@Url.Action("Edit",new { id=item.Id})" class="btn btn-info btn-sm" title="Editar">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a href="@Url.Action("Delete",new { id=item.Id})" class="btn btn-danger btn-sm" title="Apagar">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, filtro = ViewBag.Filtro, tpfiltro = ViewBag.TpFiltro}))
        </div>
        <div class="col-md-6">
            <span class="pull-right">
                Listando registros de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount
            </span>
        </div>
    </div>


}


