<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
@using X.PagedList.Mvc
@model X.PagedList.PagedList<Zen.Web.Models.FluxoCaixa>

@{
    ViewBag.Title = "Fluxo de Caixa";
}


@using (Html.BeginForm("Index", "FluxoCaixa", FormMethod.Get, new { id = "formFluxoCaixa" }))
{
    @Html.AntiForgeryToken()
    <div class="result"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pesquisa por Período de Vencimento</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-4">
                                    Data Inicial
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="datetime" class="form-control pull-right" id="dtini" name="dtini" placeholder="Data Inicio" value="@ViewBag.dtini" />
                                    </div>
                                    @* <input type="datetime" class="form-control pull-right" id="dtini" name="dtini" placeholder="Data Inicio" value="@ViewBag.Dtini" />*@
                                </div>
                                <div class="col-md-4">
                                    Data Final
                                    @*<input type="datetime" class="form-control" id="dtfim" name="dtfim" placeholder="Data Fim" value="@ViewBag.Dtfim" />*@
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="datetime" class="form-control pull-right" id="dtfim" name="dtfim" placeholder="Data Final" value="@ViewBag.dtfim" />
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="control-label">Histórico</label>
                                    <input type="text" class="form-control" placeholder="Buscar histórico..." id="hist" name="hist" value="@ViewBag.hist">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-8">
                                    <label class="control-label">Cliente/Fornecedor</label>
                                    <input type="text" class="form-control" placeholder="Buscar cliente/fornecedor..." id="forneccli" name="forneccli" value="@ViewBag.forneccli">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-8">
                                    <label class="control-label">Forma de pagamento</label>
                                    <input type="text" class="form-control" placeholder="Buscar forma de pagamento..." id="formapag" name="formapag" value="@ViewBag.formapag">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Sentido</label>
                                    <select name="sentido" id="sentido" class="form-control select2-dropdown">
                                        <option value="T" @(ViewBag.sentido == "T" ? "selected" : "")>Todos</option>
                                        <option value="C" @(ViewBag.sentido == "C" ? "selected" : "")>Crédito</option>
                                        <option value="D" @(ViewBag.sentido == "D" ? "selected" : "")>Débito</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Estado</label>
                                    <select name="estado" id="estado" class="form-control select2-dropdown">
                                        <option value="T" @(ViewBag.estado == "T" ? "selected" : "")>Todos</option>
                                        <option value="L" @(ViewBag.estado == "L" ? "selected" : "")>Lançados</option>
                                        <option value="P" @(ViewBag.estado == "P" ? "selected" : "")>Pagos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-block btn-info">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">                       

                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabsumario" data-toggle="tab">Sumário</a></li>
                                    <li><a href="#tabformapag" data-toggle="tab">Formas de Pagamentos</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabsumario">
                                        
                                            <div class="col-md-6">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-aqua">
                                                        <i class="fa fa-dollar"></i>
                                                    </span>
                                                    <div class="info-box-content">
                                                        <span class="info-box-text">CREDITOS</span>
                                                        <span class="info-box-number">@ViewBag.saldocr</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-red">
                                                        <i class="fa fa-dollar"></i>
                                                    </span>
                                                    <div class="info-box-content">
                                                        <span class="info-box-text">DEBITOS</span>
                                                        <span class="info-box-number">@ViewBag.saldocp</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-yellow">
                                                        <i class="fa fa-dollar"></i>
                                                    </span>
                                                    <div class="info-box-content">
                                                        <span class="info-box-text">SALDO</span>
                                                        <span class="info-box-number">@ViewBag.saldotot</span>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                    </div>
                                    <div class="tab-pane" id="tabformapag">
                                        @if (ViewBag.lstFormapag != null)
                                        {
                                        <table class="table">
                                            @foreach (var itm in @ViewBag.lstFormapag)
                                            {
                                            <tr>
                                                <td>@itm.Nome</td>
                                                <td>@string.Format("{0:C}", @itm.Valor) </td>
                                            </tr>
                                            }
                                        </table>
                                        }

                                    </div>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group"></div>
                            </div>                             
                        
                    </div>
                </div>

                <div class="box-body">
                    <table id="tabela" class="table table-bordered ">
                        <thead>
                            <tr>
                                <th class="text-center">Data de Vencimento</th>
                                <th class="text-center">Tipo de Documento</th>
                                <th class="text-center">Forma de pagamento</th>
                                <th class="text-center">Histórico</th>
                                <th class="text-center">Fornecedor/Cliente</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Sentido</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Sentido == "C")
                                {
                                    <tr class="bg-aqua">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DtVenc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TipoDocumento.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Formapag.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Historico)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FornecCliente)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Valor)
                                        </td>
                                        <td>
                                            @if (item.Estado == "P")
                                            {
                                                @Html.Raw("Pago")
                                            }
                                            else
                                            {
                                                @Html.Raw("Lançado")
                                            }
                                        </td>
                                        <td>

                                            @Html.Raw("Crédito")
                                        </td>


                                    </tr>
                                }
                                else
                                {
                                    <tr class="bg-red">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DtVenc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TipoDocumento.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Formapag.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Historico)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FornecCliente)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Valor)
                                        </td>
                                        <td>
                                            @if (item.Estado == "P")
                                            {
                                                @Html.Raw("Pago")
                                            }
                                            else
                                            {
                                                @Html.Raw("Lançado")
                                            }
                                        </td>

                                        <td>
                                            @Html.Raw("Débito")
                                        </td>


                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, dtini = ViewBag.dtini, dtfim = ViewBag.dtfim, sentido = ViewBag.Sentido,
           saldocr = ViewBag.saldocr, saldocp = ViewBag.saldocp, saldotot = ViewBag.saldotot, hist=ViewBag.hist, forneccli = ViewBag.forneccli,
           formapag = ViewBag.formapag, estado = ViewBag.estado }))

        </div>
        <div class="col-md-6">
            <span class="pull-right">
                Listando registros de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount
            </span>
        </div>
    </div>

}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {

        $('#dtini').mask('00/00/0000', { placeholder: "dd/mm/aaaa" });
        $('#dtfim').mask('00/00/0000', { placeholder: "dd/mm/aaaa" });

        //Date picker
        $('#dtini').datepicker({
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "pt-BR"
        })

        //Date picker
        $('#dtfim').datepicker({
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "pt-BR"
        })

    });
</script>
