<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
@model Zen.Web.ViewModels.OrcamentoDetViewModel.CreateEditViewModel
@{ ViewBag.Title = "Item do Pedido de Orçamento";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">
                    @if (@TempData["lboper"] != null)
                    {
                        @Html.Raw(@TempData["lboper"]);
                    }
                </h3>
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="col-md-7">


                        <div class="box box-content">
                            <div class="box-header">
                                <label>Dados</label>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Item, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Item, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdProduto, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.IdProduto, (SelectList)ViewBag.Produtos, new { @class = "form-control select2" })
                                    @*@Html.EditorFor(model => model.IdProduto, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.IdProduto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdMaterial1, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.IdMaterial1, (SelectList)ViewBag.Material, new { @class = "form-control select2" })
                                    @*@Html.EditorFor(model => model.IdMaterial1, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.IdMaterial1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdMaterial2, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.IdMaterial2, (SelectList)ViewBag.Material, new { @class = "form-control select2" })

                                    @*@Html.EditorFor(model => model.IdMaterial2, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.IdMaterial2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdMaterial3, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @*@Html.EditorFor(model => model.IdMaterial3, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.IdMaterial3, (SelectList)ViewBag.Material, new { @class = "form-control select2" })

                                    @Html.ValidationMessageFor(model => model.IdMaterial3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdMaterial4, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @*@Html.EditorFor(model => model.IdMaterial4, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.IdMaterial4, (SelectList)ViewBag.Material, new { @class = "form-control select2" })

                                    @Html.ValidationMessageFor(model => model.IdMaterial4, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Formato aberto</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.LargA, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LargA, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.AltA, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AltA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Formato fechado</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.LargF, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LargF, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.AltF, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AltF, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.CompF, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompF, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quant, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Quant, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quant, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box box-footer">
                            <div class="btn">
                                <button type="submit" id="btsalvar" class="btn btn-app ">
                                    <i class="fa fa-save"></i> Salvar
                                </button>
                                <a href="@Url.Action("Index","OrcamentoDet") " class="btn btn-app " title="Salvar">
                                    <i class="fa fa-arrow-circle-o-left"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
