@model Zen.Web.ViewModels.TransporteViewModel.CreateEditViewModel

@{
    ViewBag.Title = "Transporte";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="col-md-12">
        <div class="box-body">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        @if (@TempData["lboper"] != null)
                        {
                            @Html.Raw(@TempData["lboper"]);
                        }
                    </h3>
                </div>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="box-footer">
                                <div class="btn">
                                    <button type="submit" id="btsalvar" class="btn btn-app ">
                                        <i class="fa fa-save"></i> Salvar
                                    </button>
                                    <a href="@Url.Action("Index","TipoDoc") " class="btn btn-app " title="Apagar">
                                        <i class="fa fa-arrow-circle-o-left"></i> Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}