@model Zen.Web.ViewModels.PerfilViewModel.IndexViewModel

@{
    ViewBag.Title = "Perfil";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pesquisa por Descrição</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-5">
                        <div class="input-group input-group-sm">
                            @Html.TextBoxFor(p => Model.filtroDescr, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info btn-flat">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-info pull-right" })
                </div>
                <div class="box-body">
                    <table id="tbusuarios" class="table table-bordered table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Situação</th>
                                <th>Ações</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstPerfil)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Situacao)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Index","Permissoes",new { id=item.Id})" class="btn btn-primary btn-sm" title="Permissoes">
                                            <span class="glyphicon glyphicon-lock"></span>
                                            Permissões
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit",new { id=item.Id})" class="btn btn-info btn-sm" title="Editar">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <a href="@Url.Action("Delete",new { id=item.Id})" class="btn btn-danger btn-sm" title="Apagar">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
