@using X.PagedList.Mvc
@model X.PagedList.PagedList<Zen.Web.Models.Impressor>

@{
    ViewBag.Title = "Impressores";
}

@using (Html.BeginForm("Index", "Impressor", FormMethod.Get, new { id = "formImpressor" }))
{
    @Html.AntiForgeryToken()
    <div class="result"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pesquisa de Impressores</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Buscar Impressor" name="filtro" value="@ViewBag.Filtro">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-info btn-flat">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Ativo</label>
                                <select name="ativo" id="ativo" class="form-control select2-dropdown">
                                    <option value="" @(ViewBag.Ativo == "" ? "selected" : "")>Todos</option>
                                    <option value="S" @(ViewBag.Ativo == "S" ? "selected" : "")>Sim</option>
                                    <option value="N" @(ViewBag.Ativo == "N" ? "selected" : "")>Não</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="box-body">
                    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-info pull-right" })
                </div>
                <div class="box-body">
                    <table id="tabela" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Ativo</th>
                                <th class="text-center" style="width:100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @if (item.Ativo == "S")
                                        {
                                            @Html.Raw("Sim");
                                        }
                                        else if (item.Ativo == "N")
                                        {
                                            @Html.Raw("Não");
                                        }


                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="@Url.Action("Edit",new { id=item.Id})" class="btn btn-info btn-sm" title="Editar">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a href="@Url.Action("Delete",new { id=item.Id})" class="btn btn-danger btn-sm" title="Apagar">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, filtro = ViewBag.Filtro, ativo = ViewBag.Ativo }))
        </div>
        <div class="col-md-6">
            <span class="pull-right">
                Listando registros de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount
            </span>
        </div>
    </div>

}


