@using X.PagedList.Mvc
@model X.PagedList.PagedList<Zen.Web.Models.SubDespesa>


@{
    ViewBag.Title = "SubItens de Despesas";
}


@using (Html.BeginForm("Index", "SubDespesa", FormMethod.Get, new { id = "formsubDespesa" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewBag.idDesp" name="idDesp" id="idDesp " />
    <div class="result"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="badge bg-blue-gradient">
                        <h3 class="box-title">@ViewBag.Nome</h3>
                    </div>
                  

                    <div class="box-info">
                    
                        <div class="form-group">

                            <div class="col-md-4">

                                <div class="input-group input-group-sm">

                                    <input type="text" class="form-control" placeholder="Buscar Itens de despesas" name="filtro" value="@ViewBag.Filtro">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-info btn-flat">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            @*@Html.ActionLink("Novo", "Create", null, new { idDesp = @ViewBag.idDesp, @class = "btn btn-info pull-right" })*@
                            <a href="@Url.Action("Create", "SubDespesa",new { idDesp = ViewBag.idDesp})" class="btn btn-info pull-right" data-toggle="tooltip" title="">Novo</a>

                        </div>

                    </div>

                </div>
                <div class="box-body">
                    <table id="tabela" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Codigo</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center" style="width:100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        <div class="btn-group"> <a href="@Url.Action("Edit",new { id=item.Id})" class="btn btn-info btn-sm" title="Editar">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a href="@Url.Action("Delete",new { id=item.Id})" class="btn btn-danger btn-sm" title="Apagar">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="col-md-6">
                        @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, filtro = ViewBag.Filtro, idDesp = ViewBag.idDesp }))
                    </div>
                    <div class="col-md-6">
                        <span class="pull-right">
                            Listando registros de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>


}




