@model Zen.Web.ViewModels.ServFornecViewModel.DeleteViewModel
@{
    /**/

    ViewBag.Title = "Apagar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.YesNo)
    @Html.HiddenFor(m => m.IdFornec)
    @Html.HiddenFor(m => m.IdServ)
    <div class="box-body">
        @Html.HiddenFor(m => m.YesNo)
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Apagar Registro</h3>
            </div>
            <div class="form-horizontal">
                <h5>Deseja realmente apagar o serviço <strong> @Model.Nome</strong> ?</h5>
                @*<button id="btyes" onclick="funcaoYesNo(true)" class="btn btn-success">Sim</button>
                    <button id="btno" onclick="funcaoYesNo(false)" class="btn btn-danger">Não</button>*@
                <button id="bt" type="submit" class="btn btn-success">Sim</button>
                <button id="bt2" class="btn btn-danger" onclick="history.go(-1); return false;">Não</button>
            </div>
        </div>
    </div>


}

